doctype html

html
  head
    title
      h2 Show all cards
  body
    div
      p Deck
    div
      p Card
    div
      p Next
    div
      p Previous
    div
      p Edit 
    div
      p Delete            
      





