doctype html

html
  head
    title
      h2 Create a new card
  body
    div
      p Enter card content
    div
      p Select from current decks
    div
      p Create a new deck
    div
      p Add card
      





