doctype html
html
  body
    div(align="center")
      p Take a look through my
      h1 Memoscope
    div(align="center")
      form
        input
        br
        input
        br
        button(action="/dashboard") Log Flume
